:root {
  --background-main-color: #363232;
  --background-header-color: #fa2828fa;
  --background-card-color: #4d4747;
  --background-card-poster-color: red;

  --color-main: #fff;
  --color-secondary: #988f8f;
  --color-additional: #e5e5e5;

  --theme-gray-light: #c4c4c4;
  --theme-accent: #ff5252fa;
  --theme-dark: #000;

  --loader-border-a-color: #000;
  --loader-border-b-color: #fa2828fa;

}